@font-face {
  font-family: "Clear Sans";
  src: local("Clear Sans"), url("./fonts/ClearSans-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Clear Sans";
  src: local("Clear Sans"),
    url("./fonts/ClearSans-Regular.ttf") format("truetype");
  font-weight: normal;
}

body {
  font-family: "Clear Sans" !important;
  margin: 0px;
  padding: 0px;
}

.title-container {
  background-color: #f4f9ff;
  padding: 50px 100px;
}

table {
  width: 100%;
}

table th,
table td {
  text-align: left;
  vertical-align: middle;
}

table td {
  border-bottom: 1px solid #e5ecf5;
  padding: 15px 0px;
  color: #374249;
  font-weight: normal;
  font-size: 14px;
}

footer {
  background-color: #f4f9ff;
  height: 40px;
  padding: 0px 100px;
  display: flex;
  align-items: center;
}

footer p {
  letter-spacing: 0.25px;
  color: #4c6083;
  font-size: 10px;
}

td.author {
  color: #374249;
  font-weight: bold;
  display: flex;
  align-items: center;
}

table td img {
  border-radius: 50%;
  margin-right: 10px;
  width: 28px;
  height: 28px;
}

table th {
  color: #7e90b2;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
}

table th {
  border-bottom: 2px solid #e5ecf5;
  padding-bottom: 10px;
}

.container {
  padding: 50px 100px;
}

h1 {
  margin: 0;
}

header {
  background-color: #0e1e35;
  padding: 15px 40px;
  display: flex;
  align-items: center;
}

.main {
  position: relative;
}

header form {
  margin: 0 auto;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header form label {
  color: #c9d8ef;
  letter-spacing: 0.35px;
  color: #e5ecf5;
}

img {
  height: 50px;
}

header form input {
  width: 400px;
  font-family: "Clear Sans";
  border: 1px solid #4c6083;
  border-radius: 3px;
  padding: 10px;
  background-color: transparent;
  font-size: 14px;
  transition: 0.5s;
}

header form input:focus {
  border-color: #fff;
  outline: none;
  transition: 0.5s;
}

header form input::placeholder {
  color: #c9d8ef;
}

header form input[type="submit"] {
  width: auto;
  border-radius: 3px;
  letter-spacing: 0.07px;
  color: #ffffff;
  border-color: #2a6cff;
  padding: 10px 20px;
  background-color: #2a6cff;
}

.sidebar-menu {
  background-color: #f1faff;
  box-shadow: 1px 1px 1px #d9e6e8;
  width: 81px;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
}

.sidebar-menu-item {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #4c6083;
  font-size: 11px;
  text-align: center;
}

.sidebar-menu-item img,
.button img {
  width: 24px;
}

.back-button img {
  width: 15px;
  height: 15px;
}

.back-button {
  padding: 15px 0px;
  text-align: center;
  justify-content: center;
  display: flex;
  font-size: 11px;
  align-items: center;
  flex-direction: row;
  box-shadow: 0px 1px 0px #d9e6e8;
}

.button {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #4c6083;
  font-size: 11px;
  text-align: center;
}
